body{
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    background-color: #f9fafc;
}
header{
    display: flex;
    flex-direction: column;
    max-height: 25vh;
}
#header-logo{
    margin-bottom: 10px;
    color: #000;
    font-size: 20px;
}
.menu{
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    margin: 0;
    padding-left: 0;
}
main{
    margin-top: 40px;
    max-height: 70vh;
}
#main-logo{
    color: #000;
}
p{
    border-left: solid #69696a;
    padding-left: 10px;
    color: #69696a;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100vw; 
    background-color: rgba(247, 193, 162, .7);
    margin-left: -20px;
    max-height: 5vh;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer-logo{
    color: #000;
    font-size: 15px;
    margin: 0px 0px 0px 20px;
    padding: 5px;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
    margin-right: 20px;   
}
.links{
    align-self: center;
    margin-bottom: 0px;
    font-size: 15px;
    padding: 5px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: #69696a;
}
.button{
 text-align: center;
 color: #fff;
 background-color: #000;
 border-radius: 25px;
 padding: 8px 0;
 margin-top: 10px;
}


.circle{
    position: relative;
    width: 100%;
}


@media only screen and (min-width: 768px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
    #header-logo{
        margin-top: 0px;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30vw;
        max-height: 20vh;
        height: auto;
        
    }
    #hire-us{
        margin-top: 0px;
        padding: 8px 4px 8px 4px;
        margin-top: -8px;
    }
    main{
        display: flex;
        flex-direction: row;
    }
    .main-body{
        width: 50vw;
    }
    .circle-container{
        width: 50vw;
        position: relative;
    }
    .large-circle{
    background-color: rgba(247, 136, 167, .6);
    border-radius: 100%;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0px;
    right: 75px;
    }
    .medium-circle{
        background-color: rgba(247, 193, 162, .7);
        border-radius: 100%;
        height: 150px;
        width: 150px;
        position: absolute;
        top: 100px;
        right: 0px;
    }
    .small-circle{
        background-color: rgba(207, 130, 213, .6);
        border-radius: 100%;
        height: 100px;
        width: 100px;
        position: absolute;
        top: 30px;
        right: 0px;
    }
    .footer-nav{
        max-width: 20vw;
    }
}
