body{
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
}
header{
    display: flex;
    flex-direction: column;
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vh;
}
.links{
    align-self: center;
}
a{
    text-decoration: none;
}
.button{
 text-align: center;
}

p{
    border-left: solid #69696a;
    padding-left: 10px;
}
div.circle{
    background-color: red;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}
.circle{
    position: relative;
    width: 100%;
}


@media only screen and (min-width: 768px) {
}
/*list-style-type: none = no bullets*/
/*text-decoration: none = get rid of underline*/
